@font-face {
    font-family: 'roboto';
    src: url('C:\Users\8411159P\Documents\Projets\Pros\CV\roboto/Roboto_Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'roboto';
    color: white;
    background-image: url('C:\Users\8411159P\Documents\Projets\Pros\CV\images/fond_pelouse.jpg');
}

.row {
    display: flex;
    margin-top: 5%;
}

section {
    display: flex;
    margin-top: 10%;
}

h1 {
    text-align: center;
}
h1, h3 {
    text-decoration: underline;
}

#infos {
    margin-left: 10%;
}
#posteCitation {
    margin-left: 20%;
}
#citation {
    border: 2px solid black;
    text-align: center;
    width: fit-content;
    padding: 20px;
    margin: auto;
    background-color: #c926c4;
    color: black;
}

article {
    flex: 3;
    margin-left: 10%;
}

aside {
    flex: 1;
    border: 5px solid black;
    border-radius: 5%;
    text-align: center;
    width: fit-content;
    padding: 20px;
    margin-right: 20%;
    margin-bottom: auto;
    margin-top: 5%;
}
